# Required
django==1.9rc1
djangorestframework
celery
shortuuid
redis
dj-database-url
psycopg2
# Required for Django 1.9 bug fixes
-e git+https://github.com/carljm/django-model-utils.git@8fb1e569756641fc773dcfd11b7963087ee5b685#egg=django-model-utils


# Development
# Required for Python 3
-e git+https://github.com/pashinin/fabric.git@p33#egg=Fabric
docker-compose
pip-tools
ipython


# Development helpers
httpie
